@font-face {
    font-family: 'mountains_of_christmasregular';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff2') format('woff2'),
        url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #1d1d2e;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.endMessage{
    font-family: mountains_of_christmasregular;
    font-size: 2rem;
    text-anchor: middle;
    text-align: center;
    fill: #FFFFFF;
    color: #FFFFFF;
    opacity: 100;
    letter-spacing: 1px;
}
.animated-text { 
    font-family: mountains_of_christmasregular;
    font-size: 2rem;
    text-anchor: middle;
    text-align: center;
    fill: #FFFFFF;
    color: #eccb6e;
    opacity: 100;
    letter-spacing: 1px;
    float: left;
    margin-left: 50px;
    animation: glow 1.5s infinite alternate; 
}
 @keyframes glow { 
    0% { 
        text-shadow: 0 0 5px #eccb6e, 0 0 10px #eccb6e, 0 0 20px #eccb6e, 0 0 30px #eccb6e, 0 0 40px #eccb6e; 
    } 
    80% { 
        text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff; 
    }
 }
body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


svg {
    width: 90%;
    height: 90%;
    visibility: hidden;

}

#endMessage {
    font-family: mountains_of_christmasregular;
    font-size: 2rem;
    text-anchor: middle;
    text-align: center;
    fill: #FFFFFF;
    color: #FFFFFF;
    opacity: 0;
    letter-spacing: 1px;
}

a {
    color: white;
    text-decoration: underline dotted #FFFFFF;
}